<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
作用:基于数据循坏, 多次渲染整个元素->数组 对象 数字 v-for="(item,index) in 数组" item 每一项 index 坐标
index 可省略

<body>
    <div id="app">
        <h3>小黑水果店</h3>
        <ul>
            <li v-for="(item,index) in list">
                {{item}} - {{index}}
            </li>
            <li v-for="item in list">
                {{item}}
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script>
        var vue = new Vue({
            el: "#app",
            data: {
                list: ["西瓜", "苹果", "鸭梨"]
            }
        })
    </script>
</body>

</html>