<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- watch
作用:监视数据变化,执行一些业务逻辑或异步操作
语法:
简单写法
watch{
数据属性名(newvalue,oldvalue){
逻辑或异步操作
},
对象.属性名(newvalue,oldvalue){
逻辑或异步操作
},

} 
完整写法->添加额外的配置项
deep:true 对复杂类型深度监视 对象所有属性变化
immediate:true 初始化立刻执行一次handler方法
 obj: {
        deep: true,//深度监视
        immediate: true,//一进页面就立刻执行
        handler(newvalue) {
        }
}
  // 接口地址: https://applet-base-api-t.itheima.net/api.
            // 请求方式: get
            // 请求参数:
            // 1 words 需要被翻译的文本
            // 2 lang: 需要被翻译的语言(可选)默认值是 - 意大利
-->

<body>
    <div id="app">
        <div class="query">
            <span>翻译成的语言:</span>
            <select v-model="obj.lang">
                <option value="italy">意大利</option>
                <option value="english">英语</option>
                <option value="german">德语</option>
            </select>
        </div>
        <div class="box">
            <input type="text" v-model="obj.words" placeholder="请输入">
        </div>
        <div class="output.warp">
            <div>{{result}}
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>

            var vue = new Vue({
                el: "#app",
                data: {
                    words: "",
                    obj: {
                        words: "小米",
                        lang: "italy"
                    },
                    result: "",
                    //  timer: null,//延迟器id
                },
                watch: {
                    //该方法会在数据变化时调用执行 oldvalue 可省略
                    // 'obj.words'(newvalue, oldvalue) {
                    //     console.log(newvalue)
                    //     axios.get("https://applet-base-api-t.itheima.net/api/translate?words=" + newvalue).then(function (response) {
                    //         console.log(response);
                    //     }, function (err) {
                    //         console.log(err);
                    //     })
                    //     //防抖 :延迟执行 
                    //     clearTimeout(this.timer)
                    //     this.timer = setTimeout(async () => {
                    //         const res = await axios({
                    //             url: "https://applet-base-api-t.itheima.net/api/translate",
                    //             param: {
                    //                 words: newvalue,
                    //             }
                    //         })
                    //         this.result = res.data.data
                    //     }, 300);
                    // }

                    obj: {
                        deep: true,//深度监视
                        immediate: true,//一进页面就立刻执行
                        handler(newvalue) {
                            console.log("对象被修改了", newvalue)
                            clearTimeout(this.timer)
                            this.timer = setTimeout(async () => {
                                const res = await axios({
                                    url: "https://applet-base-api-t.itheima.net/api/translate",
                                    param: newvalue
                                })
                                this.result = res.data.data
                                console.log(this.result);
                            }, 300);
                        }
                    }
                }

            }) 
        </script>
</body>

</html>