<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="button" value="切换显示" @click="changeisshow">
        <p v-if="isShow">黑马程序员</p>
        <p v-show="isShow">黑马程序员</p>
        <h2 v-if="temperatur>=30">热死了</h2>
    </div>
    v-if 指令的作用：根据表达式的真假切换元素的显示状态
    本质是通过操作dom元素来切换显示状态
    表达式的值为true，元素存在于dom树中，为false，从dom树中删除
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                isShow: false,
                temperatur: 20,
            },
            methods: {
                changeisshow() {
                    this.isShow = !this.isShow;
                },
            },
        })
    </script>
</body>

</html>