<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- <style>
    .video_con {
        width: 120px;
        height: 100px;
    }
</style> -->

<body>
    <div class="wrap">
        <div class="play_wrap" id="player">
            <div class="search_bar">
                <img src="images/player_title.png" alt="">
                <input type="text" autocomplete="off" v-model="query" @keyup.enter="searchMusic">
            </div>
            <div class="center_con">
                <div class="song_wrapper">
                    <ul class="song_list">
                        <li v-for="item in musiclist">
                            <a href="javascript:;" @click="playMusic(item.id)">播放
                            </a>
                            <b>{{item.name}}</b>
                            <span v-if="item.mvid!=0" @click="playmv(item.mvid)">播放mv<i></i></span>
                        </li>
                    </ul>
                </div>
                <!-- 歌曲信息容器 -->
                <div class="player_con" :class="{playing:isPlaying }">
                    <img src="images/player_bar.png" class="player_bar">
                    <!-- 黑胶碟片 -->
                    <img src="images/disc.png" class="disc autoRotate">
                    <img :src="musiccover" class="cover autoRotate">
                </div>
                <div class="comment_wrapper">
                    <h5 class="title">热门留言</h5>
                    <div class="comment_list">
                        <dl v-for="item in hotComments">
                            <dt>
                                <img :src="item.user.avatarUrl" alt="">
                            </dt>
                            <dd class="name">{{item.user.nickname}}</dd>
                            <span></span>
                            <dd class="detail">{{item.content}}</dd>
                        </dl>
                    </div>

                </div>

            </div>
            <div class="audio_con">
                <audio ref="audio" :src="musicurl" @play="play" @pause="pause" controls autoplay loop
                    class="myaudio"></audio>
            </div>
            <!-- <div class="video_con"> -->
            <div class="video_con" v-show="isshow" style="display: none;">
                <video :src="mvurl" controls="controls"></video>
                <div class="mask" @click="hide"></div>
            </div>
        </div>
    </div>
    服务器返回的数据比较复杂时,获取的时候需要注意层级结构
    通过审查元素快速定位到需要操作的元素
    歌曲url
    v-bind操作属性

    不同的接口需要的数据是不同的,文档的阅读需要仔细
    页面结构复杂之后,通过审查元素的方式去快速定位相关元素

    <script src="../../../js/axios.min.js"></script>
    <script src="../../../js/vue.js"></script>
    <script src="./main.js"></script>

</body>

</html>