<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="warp" id="app">
        <div class="search_form">
            <div class="logo"><img src="img/logo.png" alt="logo" /></div>
            <div class="form_group">
                <input type="text" v-model="city" @keyup.enter="seachweather" class="input_txt"
                    placeholder="请输入查询的天气" />
                <button class="input_sub">搜索</button>
            </div>
            <div class="hotkey">
                <a href="javascript:;">北京</a>
                <a href="javascript:;">上海</a>
                <a href="javascript:;">广州</a>
                <a href="javascript:;">深圳</a>
            </div>

        </div>
        <ul class="weather_list">
            <li v-for="item in weatherlist">
                <div class="info_type"><span class="iconfont">{{item.type}}</span></div>
                <div class="info_temp">
                    <b>{{item.low}}</b>
                    ~
                    <b>{{item.high}}</b>
                </div>
                <div class="info_date"><span>{{item.date}}</span></div>
            </li>
        </ul>
    </div>
    地址 http://wthrcdn.etouch.cn/weather_mini get +city

    回车查询 按下回车 v-on.enter 查询数据 axios v-model 渲染数据 v-for 数组 that
    应用的逻辑代码建议和页面分离，使用单独的js文件编写
    axios回调函数中的this已经改变，需要额外保存一份
    服务器返回的数据比较复杂时，获取的时候需要注意层级结构



    <script src="../../../js/axios.min.js"></script>
    <script src="../../../js/vue.js"></script>
    <!-- 自己的js -->
    <script src="./main.js">
    </script>
</body>

</html>